@media (min-width: 768px) 
{
.nmMenuBar {
		margin-bottom: 50px;
	}
}

/* Bootstrap wants to use row margins of -15px, which aren't good for the sidebar */
.sidebar 
{
	margin-left: 0;
	margin-right: 0;
}

.sideContent
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.error
{
	color: red;
}

.formRow
{
	margin-bottom: 20px;
}

label
{
	font-weight: normal;
}

.actionLink
{
	display: inline-block;
	margin-right: 10px;
	font-size: 1.1em;
}
