<div class="container">
	<div class="row">

		<div class="col-md-12">

			<h2>{{ Page.title() }}</h2>

			<ul class="list-unstyled">
				<li><a href="#/players/">Edit Players</a></li>
				<li><a href="#/players/50">Player Detail for ID 50</a></li>
				<li><a href="#/cookieTest/">Cookie Test</a></li>
				<li><a href="#/redirectTest/">Redirect Test</a></li>
				<li><a href="#/clearanceTest/">Admin Clearance Test</a></li>
			</ul>

		</div>

	</div>

</div>
