<div class="container">
	<div class="row">

		<div ng-show="showSidebar()" class="ng-hide col-md-4">

			<h2>{{ Page.title() }}</h2>

		</div>

		<div class="col-md-8">

			<div class="row formRow">

				<div class="col-md-4">Key:</div>

				<div class="col-md-4">
					<input type="text" name="name" ng-model="cookieKey" />
				</div>

			</div>

			<div class="row formRow">

				<div class="col-md-4">Value:</div>

				<div class="col-md-4">
					<input type="text" name="name" ng-model="cookieValue" />
				</div>

			</div>

			<div class="row formRow">

				<div class="col-md-8">
				<a class="actionLink" href="" ng-click="storeCookieValue()">Store Cookie Value</a>
				</div>

			</div>

			<div class="row formRow">

				<div class="col-md-8">
				Stored Cookie Value: {{getStoredCookieValue()}}
				</div>

			</div>

		</div>

	</div>

</div>
