<!--  <div class="container-fluid -->
	
<!--  Since we may redirect depending on clearance, must initially use class "ng-hide" so we don't see the page temporarily (briefly). -->

<div ng-show="passedClearance" class="container ng-hide">
	
	<div class="row">

		<div class="sidebar col-xs-12 {{getSidebarColumnMedDeviceClass()}}">  <!--  6, 4, or 3 (varies when showing 1, 2 or 3 name columns) -->

			<h2>{{ Page.title() }}</h2>

			Player count: {{players.length}}
			
			<div class="sideContent">
				<a href="#/players/0">Create New Player</a>
			</div>

		</div>


		<div ng-show="showOneColumn()">

			<div class="col-xs-12 col-md-6">

				<ul class="list-unstyled">
					<li ng-repeat="player in players"><a
						href="#/players/{{player.id}}">{{player.name}}</a></li>
				</ul>

			</div>

		</div>


		<div ng-show="showTwoColumns()">

			<div class="col-xs-12 col-md-4">

				<ul class="list-unstyled">
					<li ng-repeat="player in players" ng-show="$index < getListMidPoint()">
					<a href="#/players/{{player.id}}">{{player.name}}</a>
						</li>
				</ul>

			</div>

			<div class="col-xs-12 col-md-4">

				<ul class="list-unstyled">
					<li ng-repeat="player in players" ng-show="$index >= getListMidPoint()">
					<a href="#/players/{{player.id}}">{{player.name}}</a>
						</li>
				</ul>

			</div>

		</div>


		<div ng-show="showThreeColumns()">

			<div class="col-xs-12 col-md-3">

				<ul class="list-unstyled">
					<li ng-repeat="player in players" ng-show="$index < getListLowThirdPoint()">
					<a href="#/players/{{player.id}}">{{player.name}}</a>
						</li>
				</ul>

			</div>

			<div class="col-xs-12 col-md-3">

				<ul class="list-unstyled">
					<li ng-repeat="player in players" ng-show="$index >= getListLowThirdPoint() && $index < getListHighThirdPoint()">
					<a href="#/players/{{player.id}}">{{player.name}}</a>
						</li>
				</ul>

			</div>

			<div class="col-xs-12 col-md-3">

				<ul class="list-unstyled">
					<li ng-repeat="player in players" ng-show="$index >= getListHighThirdPoint()">
					<a href="#/players/{{player.id}}">{{player.name}}</a>
						</li>
				</ul>

			</div>

		</div>


	</div>
</div>
