
<!--  <div class="container-fluid playerDetailsContainer"> -->

<div ng-show="passedClearance" class="container ng-hide">

		<div class="row">
		
		<!--  Left Column (gap) -->
		
		<div class="col-sm-1 col-md-1">
		</div>
		
		
		<!--  Middle Column (content) -->
		
		<div class="col-sm-10 col-md-10">

			<div class="col-sm-12 col-md-3">

				<div class="sidebar row">
					<h2>{{ Page.title() }}</h2>

					<div class="sideContent">
						Player ID: {{player.id}} 
					</div>

				</div>

			</div>


			<div class="col-sm-12 col-md-9">

				<form name="detailsForm" class="form-horizontal">

				<!--  Name with validation/error markup -->

				<div class="form-group">
					<label for="name" class="{{getLabelColumnClass()}}">Name:</label>

					<div class="{{getInputColumnClass()}}">
						<input type="text" name="name" id="name" class="form-control" ng-model="player.name"
							ng-minlength=3 ng-maxlength=30 required>

						<div class="error"
							ng-show="(hasInvalidDataAtSave() || detailsForm.name.$dirty) && detailsForm.name.$invalid">
							<small class="error" ng-show="detailsForm.name.$error.required">
								Name is required. </small> <small class="error"
								ng-show="detailsForm.name.$error.minlength"> Name must
								be at least 3 characters </small> <small class="error"
								ng-show="detailsForm.name.$error.maxlength"> Name cannot
								be longer than 30 characters </small>
						</div>

					</div>
				</div>
				

				<!--  Email with validation/error markup -->
				
				<div class="form-group">

					<label for="email" class="{{getLabelColumnClass()}}">Email:</label>

					<div class="{{getInputColumnClass()}}">
						<input type="email" name="email" id="email" class="form-control" ng-model="player.email" required>

						<div class="error"
							ng-show="(hasInvalidDataAtSave() || detailsForm.email.$dirty) && detailsForm.email.$invalid">
							<small class="error" ng-show="detailsForm.email.$error.required">
								Email is required. </small> <small class="error"
								ng-show="!detailsForm.email.$error.required && detailsForm.email.$invalid">
								Email is invalid. </small>
						</div>
					</div>

				</div>



				<!--  Phone with validation/error markup -->

				<div class="form-group">

					<label for="phone" class="{{getLabelColumnClass()}}">Phone:</label>

					<div class="{{getInputColumnClass()}}">
						<input type="text" name="phone" id="phone" class="form-control" ng-model="player.phone"
							ng-pattern="/^\d+$/" ng-minlength=10 ng-maxlength=10 required>

						<div class="error"
							ng-show="(hasInvalidDataAtSave() || detailsForm.phone.$dirty) && detailsForm.phone.$invalid">
							<small class="error" ng-show="detailsForm.phone.$error.required">
								Phone is required. </small> <small class="error"
								ng-show="!detailsForm.phone.$error.required && detailsForm.phone.$invalid">
								Phone is invalid. Must be exactly 10 digits with no punctuation.
							</small>
						</div>
					</div>

				</div>


				<!--  Rating Level with validation/error markup.  Don't have a server-side db table to assist with this. -->
				
				<div class="form-group">

					<label for="ratingLevel" class="{{getLabelColumnClass()}}">Rating Level:</label>

					<div class="{{getInputColumnClass()}}">
						<select name="ratingLevel" id="ratingLevel" class="form-control" ng-model="player.ratingLevel" required>
							<option ng-selected="{{player.ratingLevel == '3.5'}}" value="3.5">3.5</option>
							<option ng-selected="{{player.ratingLevel == '4.0'}}" value="4.0">4.0</option>
						</select>

						<div class="error"
							ng-show="(hasInvalidDataAtSave() || detailsForm.ratingLevel.$dirty) && detailsForm.ratingLevel.$invalid">
							<small class="error"
								ng-show="detailsForm.ratingLevel.$error.required">
								Rating Level is required. </small>
						</div>
					</div>

				</div>



				<!--  Carrier ID with validation/error markup.  Note: the db table includes a "blank carrier" option.   
				Note: an "ng-options" attribute is available, but read that it isn't fully functional unless value is String.
				Here it is integer, so I used an "option" tag with ng-repeat. -->

				<div class="form-group">

					<label for="carrierId" class="{{getLabelColumnClass()}}">Carrier ID:</label>

					<div class="{{getInputColumnClass()}}">
						<select name="carrierId" id="carrierId" class="form-control" ng-model="player.carrierId" required>
							<option ng-repeat="carrier in carriers"
								ng-selected="{{carrier.id == player.carrierId}}"
								value="{{carrier.id}}">{{carrier.name}}</option>
						</select>

						<div class="error"
							ng-show="(hasInvalidDataAtSave() || detailsForm.carrierId.$dirty) && detailsForm.carrierId.$invalid">
							<small class="error"
								ng-show="detailsForm.carrierId.$error.required"> Carrier
								ID is required. </small>
						</div>
					</div>

				</div>


				<!--  MVP Member: -->

				<div class="form-group">

					<!--  Assigning the "outer label" to one of the radio buttons makes for good alignment -->
					
					<label for="mtNot" class="{{getLabelColumnClass()}}">MVP Member?</label>

					<div class="{{getInputColumnClass()}}">
					
						<label class="radio-inline">
							<input id="mtNot" type="radio" ng-model="player.mbrType" value="0"> Not
						</label>
						
						<label class="radio-inline">
							<input id="mtReg" type="radio"	ng-model="player.mbrType" value="1"> Regular 
						</label>

						<label class="radio-inline">
							<input id="mtAllStar" type="radio" ng-model="player.mbrType" value="2"> All Star 
						</label>
						
					</div>

				</div>


				<!--  Is Administrator? -->

				<div class="form-group">

					<label for="isAdmin" class="{{getLabelColumnClass()}}">Administrator?</label>

					<div class="{{getInputColumnClass()}}">
						<div class="checkbox">   <!-- centers the checkbox vertically  -->
							<input id="isAdmin" type="checkbox" ng-model="player.isAdmin">
						</div>
					</div>

				</div>


				<!--  Is Player Disabled (de-activated)? -->
				
				<div class="form-group">

					<label for="isDisabled" class="{{getLabelColumnClass()}}">Disabled?</label>

					<div class="{{getInputColumnClass()}}">
						<div class="checkbox">   <!-- centers the checkbox vertically  -->
							<input id="isDisabled" type="checkbox" ng-model="player.disabled">
						</div>
					</div>

				</div>


				<!--  Action Buttons/Links -->

				<div class="form-group">

					<div class="{{getLabelColumnClass()}}"></div>

					<div class="{{getInputColumnClass()}}">

						<!-- Could apply following on the Save link, but don't think I want to:  ng-disabled="detailsForm.$invalid" -->
						<a class="actionLink" href="" ng-click="savePlayer()">Save</a> <a
							class="actionLink" href="" ng-show="player.id > 0"
							ng-click="deletePlayer()">Delete</a> <a class="actionLink"
							href="" ng-click="goToList()">Cancel</a>

					</div>

				</div>


				</form>

			</div>


		</div>   <!--  end of middle column (content) -->
		
		<!--  Right Column (gap) -->
		
		<div class="col-sm-1 col-md-1">
		</div>

		</div>

</div>

