body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin:0;
}

h2
{
    font-size: 1.2em;
}

#pageContainer
{
    width: 800px;
    margin: 10px auto;
    padding: 0 8px 0 8px 0;
}

#widePageContainer
{
    width: 1200px;
    margin: 10px auto;
    padding: 0 8px 0 8px 0;
}

#changeGroupSection
{
    text-align: center;
    margin: 10px;
}

.listSection tr.even
{
    background-color: #99ccff;
}

#membersSection
{
    float:left;
}

#nonMembersSection
{
    float:right;
}

.listTable
{
    border-spacing:0;
    border-collapse:collapse;
    border:  1px solid #1C3764;
}


.listTable thead
{
    background-color: #1C3764;
    color:#FFF;
}

.playerCol
{
    width: 180px;
}

td.playerCol
{
    padding-left: 8px;
}

.mbrPlayerCol
{
    width: 140px;
}

td.mbrPlayerCol
{
    padding-left: 8px;
}

.actionCol, .ratingLevelCol, .mbrTypeCol
{
    width: 75px;
    text-align: center;
    border-left:  1px solid #1C3764;
}

th.actionCol, th.ratingLevelCol, th.mbrTypeCol
{
    border-left:  1px solid #FFF;
}

.mlActionCol
{
    width:80px;
}

.mlYrCol, .mlDivCol, .mlMatchNoCol, .mlLabelCol, .mlPlayoffCol
{
    width: 50px;
}

.mlSessCol, .mlWeekNoCol
{
    width: 25px;
}

.mlDateCol
{
    width: 100px;
}

.mlPlayerCol
{
    width: 175px;
}

.mlNoteCol
{
    width: 300px;
}

.mlWinningPlayer
{
    font-weight: bold;
    color: #8b008b;
}

#matchListTable tr td
{
    text-align: center;
}

#matchListSection
{
    margin-bottom: 20px;
}

#footerSection
{
    clear:both;
    text-align: center;
}

#footerSection a, #footerSection a:visited
{
    color: #000;
}

.submitButtonContainer
{
    padding-top: 30px;
    padding-bottom: 20px;
}

#pwdOuterBox
{
    width: 350px;
    height: 180px;
    background-color: #397D44;
    padding: 50px 60px 60px 50px;
    margin: 50px auto;
}

#pwdInnerBox
{
    width: 350px;
    height: 180px;
    background-color: #1C3764;
    color: #FFF;
    border: 5px solid #FFF;
    text-align: center;
}

#pwdInputContainer
{
    margin-top: 35px;
}

#pwdSubmitContainer, #pwdRememberContainer
{
    margin-top: 20px;
}

#menuOuterBox
{
    width: 450px;
    background-color: #397D44;
    padding: 50px 60px 30px 50px;
    margin: 50px auto;
}

#menuInnerBox
{
    width: 450px;
    background-color: #1C3764;
    color: #FFF;
    border: 5px solid #FFF;
    text-align: center;
}

#menuLinksContainer
{
    margin-top: 35px;
    text-align: left;
    padding-left: 100px;
}

#menuLinksContainer li
{
    list-style-type: none;
    line-height: 4em;
    font-size: 1.2em;
    margin-left: -50px;
}

#menuLinksContainer a, #menuLinksContainer a:visited
{
    color: #FFF;
}

.copyPasteSection
{
    margin-top: 30px;
}

.copyPasteSection h2
{
    margin-top: 30px;
    font-size: 1.4em;
}

#copyPasteServerMsgSection h2, #copyPasteManualSection h2, #copyPasteDescrSection h2
{
    font-size: 1.2em;
}

#copyPasteNames li
{
    list-style-type: none;
    line-height: 2.5em;
    font-size: 1.3em;
}

/* On initial display, don't show anything: */
#copyPastePhoneNumbers span, #copyPasteEmails span, #copyPasteNames span
{
    display:none;
}

#copyPasteNamesFooter
{
    margin-left:250px;
    font-size: 1.2em;
}

#cpCircle
{
    text-decoration: underline;
}

.hiddenTextLink, .hiddenEmailLink
{
    display:none;
}

.shownTextLink, .shownEmailLink
{
    display:block;
}

#copyPasteManualSection
{
    margin-top: 100px;
}

#hiddenAjaxResponse
{
    display:none;
}

#sendServerMsgResults
{
    font-weight: bold;
    font-size: 1.1em;
}

.checkBoxListDiv
{
    font-size: 1.15em;
    margin-top:6px;
}

#cpContactListTable
{
    border-spacing: 20px;
}

#cpContactListTable tr
{
    font-size: 1.3em;
}

.cpnName
{
    display: inline-block;
    width: 190px;
}

.cpnMbrType
{
    display: inline-block;
    width: 140px;
    font-size: 0.7em;
}

.cpnResponseDate
{
    display: inline-block;
    width: 300px;
    font-size: 0.7em;
}

#timeDiv
{
    color:white;
    padding-top:10px;
    text-align: right;
}

#copyPastePageContainer
{
	padding: 0 8px 0 8px;
}

#copyPasteRandomDrawSection
{
    display:none;
}

#drawResult
{
    display:inline;
}

#guidelinePageContainer
{
    width: 100%;
}

#guidelineOuterBox
{
    width: 80%;
    background-color: #397D44;
    padding: 50px 60px 60px 50px;
    margin: 25px auto;
}

#guidelineInnerBox
{
    width: 100%;
    background-color: #1C3764;
    color: #FFF;
    border: 5px solid #FFF;
}

#guidelineItemsContainer
{
    margin-top: 35px;
    padding-right: 40px;
    line-height: 1.5;
}

#guidelineItemsContainer li
{
    list-style-type: none;
    font-size: 1.2em;
}

.guidelineHdr
{
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.guidelineBody
{
    margin-bottom: 20px;
}

.guidelineBody a,
.guidelineBody a:hover,
.guidelineBody a:visited
{
    color: #FFF;
}


.emSubHeaderPart
{
    float: left;
    margin-right: 40px;
}


.emSubHeaderPartLast
{
    clear: both;
}

.emdeCol1
{
    float:left;
    width: 200px;
}

.emdeCol2, .emdeCol3
{
    float:left;
    width: 220px;
}

.emdeCol4
{
    clear:both;
    width: 10px;
}

#emSubHeader
{
    font-weight: bold;
    margin-bottom: 20px;
}

#emdeHeadingRow, .emdeCol1
{
    font-weight: bold;
}

#emdeSubmitContainer
{
    margin-top: 30px;
}

#projectInfoContainer
{
	margin: 0;
	color: #1C3764;   /* blue */
}

#hdrOutOfBounds
{
	background-color: #397D44;   /* green */
	height: 15px;
}

#hdrSideline
{
	background-color: white;
	height: 5px;
}

#hdrCourt
{
	background-color: #1C3764;   /* blue */
	height: 20px;
}

#projectInfoItemsContainer
{
	margin: 35px; 50px; 50px; 50px;
}


#projectInfoItemsContainer li
{
    list-style-type: none;
}

.piItemHdr
{
	display: inline-block;
	margin-top: 15px;
}

.piItemHdr h1
{
	font-size: 1.6em;
	margin: 0;
}

.piItemHdr h2
{
	font-size: 1.3em;
	margin: 0;
}

.itemOutOfBounds
{
	background-color: #397D44;   /* green */
	height: 3px;
	margin-top: 2px;
}

.itemSideline
{
	background-color: white;
	height: 1px;
}

.itemCourt
{
	background-color: #1C3764;   /* blue */
	height: 4px;
}

.piItemBody
{
	font-size: 1.1em;
}

.piItemBody a,
.piItemBody a:hover,
.piItemBody a:visited
{
	color: #397D44;   /* green */
}