body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin:0;
}

#headerArea
{
    width: 800px;
    margin: 10px auto;
}

#changeGroupSection
{
    float:left;
}

.footerLinkContainer
{
    text-align: center;
    margin-top: 10px;
}

.footerLinkContainer a, .footerLinkContainer a:visited
{
    color: #000;
}

#showHidePastEventsButtonContainer
{
    float:right;
}

.editEventTableContainer
{
    clear: both;
    padding-top: 10px;
}

#editTableContainer
{
    width: 800px;
    margin: 10px auto;
}

#editTable
{
    width: 100%;
}

#editTableHdg
{
    background-color: #1C3764;
}

.crudColHdg
{
    text-align: center;
    color: #FFF;
    padding:  6px;
    border: 1px solid #1C3764;
    border-top: none;
    border-right: none;
}

.crudCol
{
    padding:  6px;
    border: 1px solid #1C3764;
    border-top: none;
    border-right: none;
}

.eventDateColHdg, .eventDateCol
{
    width: 160px;
}

.eventDescrColHdg, .eventDescrCol
{
    width: 420px;
}

.eventDescrCol input
{
    width: 400px;
}

.actionColHdg
{
    width: 160px;
    text-align: center;
    border: 1px solid #1C3764;
    border-top: none;
}

.actionCol
{
    width: 160px;
    text-align: center;
    border: 1px solid #1C3764;
    border-top: none;
}

.addButtonCell
{
    text-align:center;
}

#addNewEventBeanButton
{
    margin: 10px;
}


.pastEvent
{
    display: none;
}

#editPlayerTableContainer
{
    width: 1150px;
    margin: 10px auto;
}

.playerNameColHdg, .playerNameCol
{
    width: 160px;
}

.playerNameCol input
{
    width: 140px;
}

.playerRatingLevelColHdg, .playerRatingLevelCol
{
    width: 50px;
}

.playerRatingLevelCol input
{
    width: 25px;
}

.playerPhoneColHdg, .playerPhoneCol
{
    width: 125px;
}

.playerCarrierColHdg, .playerCarrierCol
{
    width: 125px;
}

.playerPhoneCol input
{
    width: 105px;
}

.playerEmailColHdg, .playerEmailCol
{
    width: 260px;
}

.playerEmailCol input
{
    width: 240px;
}

.playerDisabledColHdg, .playerDisabledCol, .playerAdminColHdg, .playerAdminCol, .playerMbrTypeColHdg, .playerMbrTypeCol
{
    width: 40px;
}

.playerDisabledCol input
{
    width: 20px;
}

.playerAdminCol input
{
    width: 20px;
}

.playerMbrTypeCol input
{
    width: 20px;
}

#addNewPlayerBeanButton
{
    margin: 10px;
}

#editGroupsTableContainer
{
    width: 800px;
    margin: 10px auto;
}

.groupNameColHdg, .groupNameCol
{
    width: 250px;
}

.groupNameCol input
{
    width: 245px;
}

.shortNameColHdg, .shortNameCol
{
    width: 100px;
}

.shortNameCol input
{
    width: 85px;
}

.isDefaultGroupColHdg, .isDefaultGroupCol
{
    width: 150px;
}

.isDefaultGroupCol input
{
    width: 20px;
}

#addNewGroupsBeanButton
{
    margin: 10px;
}

.datePickerLink
{
    display: inline-block;
    margin: 10px;
}

.carrierLookup
{
    margin:  10px;
}