body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

#gcPageContainer, #tpsPageContainer
{
    margin: 20px;
    padding: 40px;
    background-color: #397D44;
    color: #FFF;
}

#tpsPageContainer
{
	font-size: 12pt;
}

.gcContactsSection
{
    padding: 40px;
    background-color: #1C3764;
    border: 5px solid #FFF;
}

#gcContacts
{
    font-size: 1.1em;
}

#gcContacts a,
#gcContacts a:hover,
#gcContacts a:visited
{
    color: #FFF;
}

#gcContacts ul
{
    float: left;
}

.clearer
{
    clear: both;
}