body
{
	margin:4px;
	margin-top:0;
}

#mobileOptionsPageContainer, .mobileViewPageContainer, #copyPastePageContainer, #gcPageContainer
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#gcContacts
{
    font-size: 1.2em;
}

#gcContacts ul
{
    padding-left: 0;
}

#gcContacts ul li
{
    list-style-type: none;
    line-height: 1.5;
}

input, select
{
    font-size: 1em;
}

#changeViewSection
{
    margin-top: 20px;
    margin-bottom: 20px;
}

#eventChooser, #playerChooser
{
    margin-top: 10px;
}

#eventSelect, #playerSelect
{
    width:280px;
}

#playersContainer, #eventsContainer
{
    margin-top: 10px;
}

#playersTable, #eventsTable
{
    border-spacing: 0;
    border-collapse:collapse;
}

#yesCountContainer
{
    margin-top: 10px;
}

#mobileViewButtonsContainer
{
    margin-top: 10px;
}

#changesSaved
{
    display:none;
    font-weight: bold;
    margin-bottom:10px;
}

.msgDiv
{
    display:none;
    font-weight: bold;
}

#topMsgDiv
{
    margin-bottom:10px;
}

#bottomMsgDiv
{
    margin-top:10px;
}

#eventsTable td.event
{
    width: 200px;
    padding-top:5px;
    padding-bottom:5px;
}

.noPlayersOrEventsMsg
{
    margin-top:10px;
}

.copyPasteSection
{
    margin-top:15px;
}

#copyPasteEmails
{
    width:280px;
    word-wrap: break-word;
}

#copyPasteNames li
{
    list-style-type: none;
    line-height: 2.5em;
    font-size: 1.3em;
}

#copyPasteNamesFooter
{
    font-size: 1.2em;
}

#cpCircle
{
    text-decoration: underline;
}

#copyPasteDescrSection, #copyPasteResponseTypeSection,
#copyPasteTextLinkSection, #copyPasteEmailLinkSection,
#copyPasteManualSection,
#copyPastePhoneNumbers, #copyPasteEmails, #copyPastePlayerCheckboxSection,
#copyPasteRandomDrawSection
{
    font-size: 1.2em;
}

#responseTypeCheckboxes, #playerCheckboxes
{
    margin-top:8px;
}

/* On initial display, don't show anything: */
#copyPastePhoneNumbers span, #copyPasteEmails span, #copyPasteNames span
{
    display:none;
}

.hiddenTextLink, .hiddenEmailLink
{
    display:none;
}

.shownTextLink, .shownEmailLink
{
    display:block;
}

#copyPasteManualSection
{
    margin-top: 100px;
}

#hiddenAjaxResponse
{
    display:none;
}

#sendServerMsgResults
{
    font-weight: bold;
    font-size: 1.1em;
}

h2
{
    font-size: 16px;
}

.checkBoxListDiv
{
    font-size: 1.15em;
    margin-top:6px;
}

#copyPasteServerMsgSection
{
    margin-top: 20px;
}

#serverMsg
{
    font-size: 1em;
}

#copyPasteContactListSection
{
    margin-top:20px;
}

#cpContactListContainer
{
    font-size: 1.2em;
}

#copyPasteRandomDrawSection
{
    display:none;
}

#drawResult
{
    margin-left:22px;
}

#pwdRememberContainer
{
    margin-top: 20px;
    margin-bottom: 20px;
}

#mobileViewQuote
{
    margin-top: 20px;
}

.viewChoice
{
    margin-top: 10px;
}

.allTeamsViewResponse
{
    text-align: right;
}

#mobileSinglesMenuContainer ul
{
    list-style: none;
    padding: 0;
    margin-left: 10px;
    line-height: 2.5;
    font-size: 1.3em;
}

a, a:hover, a:visited
{
    color: black;
}


.slContactsSection ul
{
    list-style: none;
    padding: 0;
    margin-left: 10px;
    line-height: 1.5;
    font-size: 1.3em;
}

#guidelinePageContainer
{
    font-size: 1.3em;
}

.guidelineHdr
{
    font-weight: bold;
}

.slsMatchCol1
{
    width: 70px;
    float: left;
}

.slsMatchCol2
{
    width: 230px;
    float: left;
}

.slsMatchCol3
{
    clear: both;
}


.slsWinningPlayer
{
    font-weight: bold;
}

.slsWeekHeading
{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

.slScheduleSection, .slStandingsSection
{
    font-size: 1.3em;
}

.slsStanding
{
    margin-top: 20px;
}

.slsStandingPlayer
{
    font-weight: bold;
}

.slsStandingCol1
{
    width: 70px;
    float: left;
}

.slsStandingNameCol
{
    width: 210px;
    float: left;
}

.slsStandingCol2
{
    width: 65px;
    float: left;
}

.slsStandingCol3
{
    width: 65px;
    float: left;
}

.slsStandingCol4
{
    width: 70px;
    float: left;
}

.slsStandingCol5
{
    width: 10px;
    clear: both;
}

.ssmMatchSection
{
    padding-top: 5px;
    font-size: 1.2em;
}

.ssmMatch
{
    margin-top:15px;
}

#semFormContainer
{
    font-size: 1.2em;
}

#semPlayerSection, #semScoreSection, #semTiebreakerSection, #semDefaultSection, #semSubmitContainer
{
    margin-top: 20px;
}

#semPlayerSection, #semScoreSection
{
    line-height: 2;
}

#slsJumpTo
{
    margin-bottom: 20px;
}

#slsMatchTypeSelect
{
	font-size: 0.8em;
}

.plListContainer, .pcCard
{
    font-size: 1.3em;
}

.pcContactInfo
{
    margin-top: 8px;
}

.plListContainer a
{
    display:block;
    margin-top: 12px;
}

.pcContactInfo a
{
    display:block;
    margin-top: 8px;
}

.pcResult,.pcUnplayed
{
    margin-top: 10px;
}

