body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin:0;
}

#slPageContainer
{
    margin: 20px;
    padding: 40px;
    background-color: #397D44;
    color: #FFF;
}

.slSubTitleLink
{
    color: #FFF;
}

.slContactsSection, .slScheduleSection, .slPlayerListSection
{
    padding: 40px;
    background-color: #1C3764;
    border: 5px solid #FFF;
}

.slSubTitle
{
    margin-top: 0;
}

.slSubTitlePart1
{
    float:left;
}

.slSubTitlePart2
{
    float:right;
}

.slSubTitleClear
{
    clear: both;
}

#slScheduleTableContainer, #slStandingsTableContainer
{
    margin-top: 35px;
}

.slDataTable
{
    width: 100%;
}

.slDataTable thead
{
    font-size: 1.1em;
}

.slDataTable tbody
{
    background-color: #FFF;
    color: #1C3764;
    font-size: 1.1em;
}

.slDataTable tbody a,
.slDataTable tbody a:hover,
.slDataTable tbody a:visited
{
    color: #1C3764;
}


.slDataTable th
{
    line-height: 1;
    padding-left: 10px;
    text-align: left;
    font-weight: bold;
}

.slDataTable td
{
    line-height: 1.8;
    padding-left: 10px;
    text-align: left;
}

.slDataTable tr.even
{
    background-color: #eee8aa;
}

.slsWinningPlayer
{
    font-weight: bold;
}

.pcCard
{
    border: 5px solid #FFF;
    padding: 20px;
    background-color: #1C3764;
}

.pcContactInfo
{
    margin-top: 15px;
}

.plListContainer a
{
    display:block;
    margin-top: 12px;
}

.pcContactInfo a, .pcContactInfo a:visited, .pcContactInfo a:hover,
.pcUnplayed a, .pcUnplayed a:visited, .pcUnplayed a:hover,
.pcResult a, .pcResult a:visited, .pcResult a:hover
{
    color:#FFF;
}

.pcResultsSection, .pcUnplayedSection
{
    margin-top: 30px;
}

.pcResult, .pcUnplayed
{
    margin-top: 8px;
}

.pcGeneralInfoSection h2
{
    margin-top: 0;
}
