body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #397D44;
    color: #FFF;
    margin: 0;
}

.topSaveChangesContainer
{
    padding-left: 25px;
    float: left;
}

.bottomSaveChangesContainer
{
    padding-left: 10px;
}

.saveOrCancelButtons
{
    display:none;
}


.savemsg
{
    font-size: 16px;
    display: inline-block;
}


#changeGroupSection
{
    padding-left: 10px;
    float: left;
}

#spreadsheetPageContainer
{
    margin: 0 auto;
    padding: 0 8px 0 8px;
}

#spreadsheetTableContainer
{
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
}

#spreadsheetTable
{
    font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
    border: 5px solid #FFF;
    border-spacing: 0;
}

.noPlayersOrEventsMsg
{
    font-size: 1.3em;
    clear: both;
    padding: 50px;
}

tr.eventDescrRow
{
    background-color: #1C3764;
    color: #FFF;

}

th.eventDescr
{
    vertical-align: top;
    padding: 10px;
    min-width: 130px;
    max-width: 170px;
    font-weight: normal;
    font-size: 16px;
}

th.eventDescr.eventHeader
{
    border-top: 1px solid #1C3764;
}

th.eventDescr.eventFooter
{
    border-bottom: 1px solid #1C3764;
}

th.ball
{
    background-image: url("../images/ball_42x42.png?version=201311270606");
    background-repeat: no-repeat;
    background-position: center center;
}

th.racquet
{
    background-image: url("../images/racquet2_47x70.png?version=201311270606");
    background-repeat: no-repeat;
    background-position: center center;
}

tr.yescount
{
    background-color: #1C3764;
    color: #FFF;
}

tr.player_row td.response
{
    text-align: center;
}

/*
tr.odd
{
    background-color: #FFF;
    color: #1C3764;
}

tr.player_row.odd td
{
    border-bottom: 1px solid #1C3764;
}
*/

tr.even, tr.odd /* added tr.odd */
{
    background-color: #1C3764;
    color: #FFF;
}

td.playerName
{
    border-left: 1px solid #1C3764;
    white-space: nowrap;
    padding-left: 10px;
}

td.playerName a,
td.playerName a:hover,
td.playerName a:visited
{
    color: #FFF;
}

td.playerName.crosshair a,
td.playerName.crosshair a:hover,
td.playerName.crosshair a:visited,
td.playerName.rowHighlighter a,
td.playerName.rowHighlighter a:hover,
td.playerName.rowHighlighter a:visited
{
    color: #000;
}

.left_edge_cell
{
    /* padding-left: 10px; */
}

.right_edge_cell
{
    border-right: 1px solid #1C3764;
}

tr.yescount td
{
    padding-top: 10px;
    padding-bottom: 10px;
}

tr.yescount td.yescount_label
{
    border-left: 1px solid #1C3764;
    padding-left: 10px;
    white-space: nowrap;
    font-weight: bold;
}

tr.yescount td.yescount_cell
{
    text-align: center;
}

.crosshair
{
    /* background-color: #CFD931; */
    /* background-color: #E4D900;  matches tennis racquet yellow, seems ok */
    /* background-color: #E3EF49; too pale */
    /* background-color: #D0E513; */  /* near "optic yellow" */

    /* background-color: #E4EE3F; */   /* tennis ball color */
    background-color: #FFF;
    color: #000;
}

.rowHighlighter
{
    /* background-color: #E4EE3F; */
    background-color: #D0E513;
    color: #000;
}

#creditsArea
{
    clear: both;
    padding: 10px;
}

#linksArea
{
    padding: 10px;
}

#linksArea a, #linksArea a:hover, #linksArea a:visited
{
    color: white;
}

.yesCountTable
{
	border-spacing: 0;
}

.yesCountTable tr td
{
	padding-top: 0;
	padding-bottom: 0;
}

.yesCountContent
{
	display: inline-block;
}

.commButton
{
	margin-left: 8px;
}