/*
	Created 11/6/14 by S Swett
	
	This is a copy of "menu_red.css" but customized for my own style.

 */

/*
body{
  font-family:"Lucida Sans Unicode","Lucida Grande",Helvetica,Arial,sans-serif;
  font-size:14px;
  color:gray;
}
*/

.menu
{
  display:none;
}

.mbmenu{
  display:none;
}

.nmMenuBar
{
	background-color:#EDEDED;
}

.rootVoices{
  background-color:#EDEDED;
  padding:0;
  padding-bottom:0;
  border-spacing:0;
  margin:0 auto;   /* for horizontal centering */
  margin-bottom:10px;
}
.rootVoices td.rootVoice {
  vertical-align:middle;
/*background-color:#fff;*/
  width:120px;
  font-family:Arial,Helvetica,sans-serif;
  text-shadow:#fff 1px 1px 1px;
  color: gray;
  font-size:14px;
  line-height:18px;
  padding:8px;
  cursor: pointer;
  /* text-align:center; */
}

.rootVoices td.rootVoice.selected{
	background: #274D8C url("../images/bgnd_sel_4.png");
	padding:8px;
	color:#ffffff;
	cursor: pointer;
	font-size:14px;
  /* text-shadow:#660033 1px 1px 1px; */
  -moz-box-shadow:#999 2px 2px 10px;
  -webkit-box-shadow:#999 2px 2px 10px;
}

.rootVoices td.rootVoice:hover{
    background: #274D8C url("../images/bgnd_sel_4.png");
    color:#ffffff;
    /* text-shadow:#660033 1px 1px 1px; */
}

.rootVoices td.rootVoice.disabled.selected{
  -moz-box-shadow:#ddd 2px 2px 10px;
  -webkit-box-shadow:#ddd 2px 2px 10px;
  background:#f9f9f9!important;
  color:#aaa;
  text-shadow:#fff 1px 1px 1px;
}



.rootVoices.vertical {
	width:140px;
}
.rootVoices.vertical td.rootVoice{
	-moz-border-radius:8px 0px 0 8px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:8px;
}

.menuShadow{
	padding:2px;
	padding-bottom:0px;
	left:-2px;
	top:1px;
}


.menuContainer{
  /*overflow:hidden;*/
  position:absolute;
	background-color:#f3f3f3;
  border-top:5px solid #1C3764;
	padding:0;
  -moz-box-shadow:#999 2px 5px 10px;
  -webkit-box-shadow:#999 2px 5px 10px;
  
  /*
  
  Since selection isn't rounding bottom corners, don't round when nothing selected
  
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-top-right-radius:0;
  -webkit-border-top-left-radius:0;
  -webkit-border-bottom-right-radius:8px;
  -webkit-border-bottom-left-radius:8px;
  */
}
.menuContainer.submenuContainer{
  border-top:none!important;
}

.menuContainer.disabled{
  -moz-box-shadow:#ddd 2px 5px 10px;
  -webkit-box-shadow:#ddd 2px 5px 10px;
  border-top:5px solid #f9f9f9;
  background-color: #f3f3f3;
}
.menuContainer .line{
	background-color:transparent;
	width:100%;
}
.menuContainer .line.title {
	background-color:#1C3764;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
/*border-bottom:1px solid black;*/
}
.menuContainer.disabled .line.title {
  background-color: #f9f9f9;
}
.menuContainer .line.title a{
	font-size:14px;
  color:#FFF;
  /* text-shadow:#660033 1px 1px 1px; */
}
.menuContainer.disabled .line.title a{
  font-size:14px;
  color:#aaa;
  text-shadow:#fff 1px 1px 1px;
}
.menuContainer td a{
	text-decoration:none;
	color: #666;
  text-shadow:#fff 1px 1px 1px;
}
.menuContainer td.voice{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:7px;
}
.menuContainer .separator{
	background-color:#999;
	height:1px;
  padding:0;
  margin:0;
}
.menuContainer td.img{
	font-family:Arial,Helvetica,sans-serif;
	text-align:center;
	font-size:12px;
	color: #c3c3c3;
	background-color:transparent;
	width:24px;
	padding:5px;
}
.menuContainer td.img img{
	width:20px;
}
.menuContainer .textBox{
	padding: 10px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	color: #999;
}
.menuContainer .selected td{
	background-color:#f3f3f3;
	background-image:url("../images/bgnd_sel_2.jpg")
}
.menuContainer .selected td a{
	color:#000;
  text-shadow:#fff 2px 2px 1px;
  display:block;  
}
.menuContainer .disabled td, .menuContainer .disabled td a {
  color:#bbb;
  text-shadow:#fff 1px 1px 4px;
}
.menuContainer .subMenuOpener{
	background-image:url("../images/menuArrow.gif");
	background-repeat:no-repeat;
	background-position:right;
}
.menuContainer .selected .subMenuOpener{
	background-image:url("../images/menuArrow.gif");
	background-repeat:no-repeat;
	background-position:right;
}

/*BOX MENU*/

.boxMenu{
  color:#f3f3f3;
  border-top:8px solid #1C3764;
  background:url("../images/box_top.png") repeat-x;
}
.boxMenu h4{
  white-space:nowrap;
  margin:0 0 20px 0;
  padding:3px;
  font:18px/20px georgia, serif;
  padding-right:20px;
  text-shadow:#666 2px 2px 1px;
}

.boxMenu td{
  min-width:160px;
  vertical-align:top;
  border-right:1px solid #999;
}

.boxMenu td:hover{
  background:#f3f3f3;
  -moz-box-shadow:#666 2px 2px 4px;
  -webkit-box-shadow:#666 2px 2px 4px;
}

.boxMenu td:hover a{
  margin-right:3px;
  text-shadow:#fff 1px 1px 1px;
  color:#000;
}

.boxMenu td:last-child{
  min-width:160px;
  vertical-align:top;
  border-right:none;
}

.boxMenu a{
  font-size:14px;
  white-space:nowrap;
  display:block;
  padding:5px;
  margin-bottom:5px;
}

.boxMenu a img{
  padding-right:5px;
}

.boxMenu a:hover{
  color:#000;
  text-shadow:#fff 2px 2px 1px;
  background-image:url("../images/bgnd_sel_2.jpg");
  -moz-box-shadow:#666 2px 2px 4px;
  -webkit-box-shadow:#666 2px 2px 4px;
}

.boxMenu a img{
  border:0;
}
