<!doctype html>
<html lang="en" ng-app="angularApp" ng-controller="PageCtrl">

<head>
<meta charset="utf-8">
<title>{{ Page.title() }}</title>

<link rel="stylesheet" href="Angular/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="Angular/css/app.css">

<script src="Angular/js/angular.js"></script>
<script src="Angular/js/angular-route.js"></script>
<script src="Angular/js/angular-resource.js"></script>

<!-- TODO: determine whether best to download and use local copies on server or point to Google. -->

<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-cookies.js"></script>

	
<!--  BEGIN: Navigation scripts -->

    <script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/jquery.mb.menu-2.9.7/inc/jquery.metadata.js"></script>
	<script src="js/jquery.mb.menu-2.9.7/inc/jquery.hoverIntent.js"></script>
	<script src="js/jquery.mb.menu-2.9.7/inc/mbMenu.js"></script>
	<script src="Angular/js/legacyFunctions.js"></script>

<!--  END: Navigation scripts -->

	
<script src="Angular/js/app.js"></script>
<script src="Angular/js/controllers.js"></script>
<script src="Angular/js/services.js"></script>
</head>

<body>

	<div ng-controller="NavCtrl">
		<div ng-include="'Angular/partials/navMenu.html'" ta-bind-nav-menu>
		</div>
	</div>

	<div ng-view></div>

</body>

</html>